<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
        <add key="HandbrakeSwitches" value="-t 1 -c 1 -f mp4 -w 720 --loose-anamorphic  -e x264 -q 20 --vfr  -a 1 -E faac -B 128 -6 dpl2 -R Auto -D 0 --gain=0 --audio-copy-mask none --audio-fallback ffac3 -x cabac=0:ref=2:me=umh:bframes=0:weightp=0:8x8dct=0:trellis=0:subq=6 --verbose=1"/>
        <add key="HandbrakeTimeout" value="3600000"/>
        <add key="AtomicParsleyTimeout" value="3600000"/>
        <add key="BasePath" value="C:\Users\desparza\Downloads\Transfers.Processed\TV Shows"/>
        <add key="AfterProcessingPath" value="K:\iTunes Media\Automatically Add to iTunes"/>
        <add key="ShowMetaInfoFile" value="showinfo.json"/>
        <add key="ArtworkBasePath" value="C:\ATVAssistant\Artwork"/>
        
        <add key="PushoverAppKey" value=""/>
        <add key="PushoverUserKey" value=""/>
    </appSettings>

</configuration>